@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .login-app-logo {
        font-family: 'Dancing Script', cursive;
        font-size: 3.5rem;
        font-weight: 900;
        margin-bottom: 0.5rem;

        h1 {
            background-color: rebeccapurple;
            width: 10rem;
            height: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: white;
        }
    }

    form {
        width: 100%;
        padding: 0 2rem;
        h3 {
            font-size: 2.3rem;
            margin: 2rem 0 0rem 0;
            text-align: center;
        }

        .text-fields {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0.3rem 0;
            position: relative;

            span {
                color: red;
                position: absolute;
            }
            .username-err-text {
                top: 0.6rem;
            }
            .password-err-text{
                top: 4rem;
            }
            input {
                margin-top: 0.4rem;
            }
            .create-account {
                text-align: right;
                margin-top: 1rem;
            }
        }
    }
}