.home {
    .header {
        background-color: rebeccapurple;
        border-radius: 0;

        .top {
            background-color: transparent;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.75rem 0.01rem 0.75rem 0.5rem;

            .logo {
                padding-left: 1rem;
                font-weight: 700 !important;
                font-size: large;
            }
        }

        .bottom {
            background-color: transparent;
            border-radius: 0;
            display: flex;
            justify-content: space-evenly;
            padding: 0 0.1rem;

            a {
                font-weight: 500;
                letter-spacing: 0.04rem;
                font-size: larger;
                font-family: sans-serif;
                text-decoration: none;
                color: white;
                padding-bottom: 0.4rem;
                width: 6rem;
                text-align: center;
            }

            .active {
                border-bottom: 4px solid white;
            }
        }
    }

    .home-content {
        height: 82.6vh;
        box-shadow: none;
    }
}