@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-app-logo {
        font-family: 'Dancing Script', cursive;
        font-size: 3.5rem;
        font-weight: 900;
        display: flex;
        justify-content: center;

        h1 {
            background-color: rebeccapurple;
            width: 10rem;
            height: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: white;
        }
    }

    strong {
        margin: 2rem 0;
    }

    .text-fields {
        width: 100%;

        .sign-in-text {
            text-align: center;
            margin-top: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 1rem;
            width: 100%;
            padding: 1rem 2rem;

            .email-err-text,
            .password-err-text {
                color: red;
                position: absolute;
            }

            .email-err-text {
                top: 0.3rem;
            }

            .password-err-text {
                top: 3.6rem;
            }

            input {
                width: 100%;
                margin-top: 0.4rem;
            }
        }
        .sign-in-links {
            margin-left: 1rem;
        }
    }
}