.set-profile {
    height: 100vh !important;

    .set-profile-header {
        background-color: rebeccapurple;
        height: 25%;
        border-radius: 0 0 50% 50%;
        position: relative;

        .username {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: xx-large;
            letter-spacing: 2px;
            color: white;
        }

        .MuiAvatar-root {
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        input {
            display: none;
        }
    }

    .crop-image-background {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(4px);
        z-index: 2;
        .crop-image {
            position: absolute;
            opacity: 1001;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 1rem;
        }
    }

    .set-profile-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        height: 70%;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .text-field {
                width: 19rem;
                position: relative;
                display: flex;
                flex-direction: column;

                input {
                    font-size: larger;
                    -moz-appearance: textfield;

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none !important;
                    }
                }

                .username-err,
                .mobile-err {
                    position: absolute;
                    top: 0;
                    color: red;
                }

                .mobile-err {
                    top: 12.5rem;
                }

                .MuiInputBase-root {
                    margin: 1rem 0;
                    width: 100%;
                }
            }
        }
    }
}