@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    overflow-y: hidden !important;

    .login-app-logo {
        font-family: 'Dancing Script', cursive;
        font-size: 3.5rem;
        font-weight: 900;
        display: flex;
        justify-content: center;

        h1 {
            margin-bottom: 1.5rem;
            background-color: rebeccapurple;
            width: 10rem;
            height: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: white;
        }
    }

    .text-fields {
        width: 100%;

        .sign-in-text {
            text-align: center;
            margin-top: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 1rem;
            width: 100%;
            padding: 1rem 2rem;

            .email-err-text,
            .password-err-text {
                color: red;
                position: absolute;
            }

            .email-err-text {
                top: 0.3rem;
            }

            .password-err-text {
                top: 3.6rem;
            }

            input {
                width: 100%;
                margin-top: 0.4rem;
            }
        }
        .sign-in-links {
            text-align: right;
        }
    }
    .error-box {
        width: 20rem;
        position: absolute;
        bottom: 0;
        overflow-y: hidden;
    }
    .error {
        transition: all ease-in-out 0.5s;
        padding: 1rem 3rem;
        text-align: center;
        background-color: rgba(255, 0, 0, 0.27);
        border: 1px solid red;
        margin-bottom: -3.5rem;
    }
    .show-err {
        margin-bottom: -0.3rem;
    }
}